<span class="pull-left">
  <form id="edit-project" class="title-form project-form" name="project">
    <div id="color-picker" class="project">
      <div class="progress">
        <div class="bar"></div>
      </div>
    </div>
    <input class="ellipsis" type="text" name="title" id="title">
    <span id="control-buttons" class="hidden">
      <a href="#" id="submit-btn" class="btn btn-success btn-small hidden" rel="tooltip" title="Change the project">OK</a>
      <a href="#" id="cancel-btn" class="btn-small" title="Cancel current changes">Cancel</a>
    </span>
  </form>
</span>

<span class="pull-right">
  <a href="<%= share_link %>" class="icon" id="share-link"><i class="icon-share"></i></a>
  <span class="divider-vertical"></span>
  <a href="#" class="icon" id="delete-btn"><i class="icon-trash"></i></a>
</span>