<form id="edit-project" class="title-form project-form" name="project">
  <input type="text" name="title" id="title">
  <a href="#" id="submit-btn" class="btn btn-success btn-small" rel="tooltip" title="Change the project">OK</a>
</form>