<div class="zoom-control btn-group">
  <button class="btn btn-mini" id="scale-days" data-zoom-level="days">day</button>
  <button class="btn btn-mini" id="scale-weeks" data-zoom-level="weeks">week</button>
  <button class="btn btn-mini" id="scale-months" data-zoom-level="months">month</button>
</div>
