/.bundle
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/public/assets
/config/master.key
/coverage
/node_modules
/public/vite*
/.vite
/test-results
/playwright-report
.env
.env.local
.DS_Store

# Vite Ruby
/public/vite*
node_modules
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vite.dev/guide/env-and-mode.html#env-files
*.local

