%li.auth.auth-twitter
  - if current_user.authentications.where(:provider=>:twitter).exists?
    %p.navbar-text.connected{:rel=>:tooltip, :title=>'Twitter is connected'}
      %i.icon-twitter-bird
  - else
    = link_to '/auth/twitter?force_login=true' do
      %i.icon-twitter-bird

