<table>
  <tbody>
    <tr>
    <% for(var i = 0; i < days.length; i++) { %>
      <% if (i == current_day) { %>
        <td class="current"><%= days[i] %></td>
      <% } else {%>
        <td><%= days[i] %></td>
      <% } %>
    <% } %>
    </tr>
  </tbody>
</table>
