<table>
<tbody>
   <tr>
   <% for(var i = 0; i < months.length; i++) { %>
     <% if (i == current_month) { %>
       <td width="<%= months[i].width %>px" class="current"><%= months[i].title %></td>
     <% } else {%>
       <td width="<%= months[i].width %>px"><%= months[i].title %></td>
     <% } %>
   <% } %>
   </tr>
 </tbody>
</table>
