<table>
<tbody>
   <tr>
   <% for(var i = 0; i < weeks.length; i++) { %>
     <% if (i == current_week) { %>
        <td width="<%= weeks[i].width %>px" class="current"><%= weeks[i].title %></td>
      <% } else {%>
        <td width="<%= weeks[i].width %>px"><%= weeks[i].title %></td>
      <% } %>
   <% } %>
   </tr>
 </tbody>
</table>
