<table>
 <thead>
   <% for(var i = 0; i < weeks.length; i++) { %>
   <th><%= weeks[i] %></th>
   <% } %>
 </thead>
 <tbody>
   <tr>
   <% for(var i = 0; i < weeks.length; i++) { %>
      <td>&nbsp;</td>
   <% } %>
   </tr>
 </tbody>
</table>