.container
  = link_to "Back", root_path, class: "btn btn-primary"
  .page-header.text-white
    %h1
      About
      %small Potee - Simple Timeline Project Management System
  .row.text-white
    .span9
      %p.lead.text-error How often happened, that, when working on multiple projects at the same time, you forgot about the business meeting or a planned release? Well, it happens sometimes with everyone. Potee is designed to solve these problems. This tool provides an easy interface to keep a track of your projects and related events. Now you'd never miss any important thing!