.container
  = link_to "Back", root_path, class: "btn btn-primary"
  .page-header.text-white
    %h1
      Team
      %small "In code we trust"
  .row.text-white
    .span3
      = image_tag "team/dapi.jpeg", alt: "Danil Pismenny", class: "img-polaroid", width: "128px"
      %p
        founder of brandymint.ru, aydamster.ru, CTO of investcafe.ru. Husband, father, ruby-developer. Russia. Cheboksary.
        %a{href: "http://dapi.ru", _target: :blank} http://dapi.ru
    .span3
      = image_tag "team/dmaximov.jpg", alt: "Dmitry Maksimov", class: "img-polaroid", width: "128px"
      %p
        Interests: software development, project management; ruby/ruby on rails; sport, literature, music, movies. Russia. Cheboksary.
        %a{href: "http://www.dmaximov.net", _target: :blank} http://www.dmaximov.net
    .span3
      = image_tag "team/AntonKalyaev.jpeg", alt: "Anton Kalyaev", class: "img-polaroid", width: "128px"
      %p
        Ruby on Rails Developer at Undev. Ulyanovsk, Russia
        %a{href: "http://homeonrails.com/", _target: :blank} http://homeonrails.com/