<form id="edit-event" class='event-form title-form' name="project">
    <input type="text" name="title" id="title" tabindex="1" value="<%- title %>" >
    <a href='#submit' id='submit'><i class="icon-ok"></i></a>
    <!-- <a href='#cancel' id='cancel'><i class="icon-remove icon-white"></i></a> -->
    <a href="#/<%= id %>/destroy" id='destroy' class="btn btn-danger btn-mini destroy">remove</i></a>
</form>
