%header.viewport-header
  %h1.pull-left Projects timeline

  %button.pull-right.btn.btn-primary{:id=>'project-create'} New project
  <a href="#/new">New Project</a>

  .clearfix
%hr
#viewport
  #dashboard
    #timeline
    #projects

:javascript
  $(function() {
    window.start({projects: #{@projects.to_json.html_safe}});
  })

