= content_for :head do
  - # disable zoom for iOS Safari
  %meta{ :name => "viewport", :content => "initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width"}

%section#viewport
  #dashboard

:javascript
  $(function() {
    PoteeApp.start({projects: #{@projects.to_json(include: :events).html_safe}});
  })