%header.viewport-header
  %h1.pull-left Projects timeline

  .pull-right
    = link_to 'New project', '#/new', :class => 'btn btn-primary', :id => 'project-create'
  .clearfix
%section#viewport
  #dashboard

:javascript
  $(function() {
    window.start({projects: #{@projects.to_json(include: :events).html_safe}});
  })

