= content_for :head do
  - # disable zoom for iOS Safari
  %meta{ :name => "viewport", :content => "initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width"}

%section#viewport
  #dashboard
    #timeline
    #projects
      #projects-top
      #projects-index
      #projects-bottom-pad


:javascript
  $(function() {
    PoteeApp.start({
      projects: #{@projects.to_json.html_safe},
      dashboard: #{current_user.dashboard.to_json.html_safe}
      });
  })

- if @shared_project.present?
  :javascript
    $(function() {
      PoteeApp.commands.execute('add_shared_project', #{@shared_project.to_json.html_safe})
    })

