#screen
  #dashboard
    #timeline
    #projects

- debugger; puts '1'
:javascript
  $(function() {
    window.router = new App.Routers.ProjectsRouter({projects: #{@projects.to_json.html_safe}});
    Backbone.history.start();
  })

