<div id="timeline-zoom" class="btn-group">
  <button class="btn" data-zoom-level="days">days</button>
  <button class="btn" data-zoom-level="weeks">weeks</button>
  <button class="btn" data-zoom-level="months">months</button>
</div>
<div id='timeline'></div>
<div id='projects'></div>
<a href="#/new">New Project</a>
