<div class="zoom-control btn-group">
  <button class="btn" data-zoom-level="days">days</button>
  <button class="btn" data-zoom-level="weeks">weeks</button>
  <button class="btn" data-zoom-level="months">months</button>
</div>
