$sansFontFamily:        "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif
$serifFontFamily:       "proxima-nova", Georgia, "Times New Roman", Times, serif
$monoFontFamily:        "proxima-nova", Monaco, Menlo, Consolas, "Courier New", monospace

@import "bootstrap"
@import "colors"
@import "variables"

@import "ui"


body
  padding-top: 60px
  background-color: #222
  background-image: image-url("black-Linen.png")

// @import "bootstrap-responsive"

// https://github.com/railsrumble/r12-team-61/wiki/Views

#viewport
  @extend .span12
  margin: 0
  width: 100%
  position: absolute
  color: $fontColor
  height: $dashboardHeight
  overflow-x: scroll
  overflow-y: hidden

#dashboard
  position: absolute
  width: 100%


// Projects

.projects-dashboard-bars, #projects // to #projects
  position: absolute
  z-index: 100
  margin-top: 40px


// Navigation

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
  width: auto
  padding-left: 20px
  padding-right: 20px

.brand
  margin-right: 40px

#project_control
  margin-left: 80px

// Timeline

#timeline // to #timeline
  position: absolute
  height: $dashboardHeight
  z-index: 1
 
#timeline table // timeline table
  height: $dashboardHeight - 30px

#timeline table td // timeline table td
  border-right: 1px solid $timelineLineColor
  height: 100%
  text-align: center
  vertical-align: top
  font-size: 9px
  overflow: hidden
  display: inline-block
  white-space: nowrap
  padding: 0px

// previous

#viewport_old
  width: 100%
  height: auto
  overflow: scroll

#dashboard_old
  width: auto
  height: auto

.project
  position: relative

.event
  height: 30px
  width: 7px
  background-color: red
  border-radius: 3px
  position: absolute
  top: -5px

