$sansFontFamily:        "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif
$serifFontFamily:       "proxima-nova", Georgia, "Times New Roman", Times, serif
$monoFontFamily:        "proxima-nova", Monaco, Menlo, Consolas, "Courier New", monospace

@import "bootstrap"
@import "colors"

body
  padding-top: 60px
  background-color: #222
  background-image: image-url("black-Linen.png")

// @import "bootstrap-responsive"

// https://github.com/railsrumble/r12-team-61/wiki/Views

#viewport
  width: 100%
  height: auto
  overflow: scroll

#dashboard
  width: auto
  height: auto

.progress
  margin-bottom: 10px

.project
  height: 100px

.project-title
  .title
    color: #ccc
