//= require jquery.ui/themes/base/jquery.ui.resizable

$sansFontFamily:        "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif
$serifFontFamily:       "proxima-nova", Georgia, "Times New Roman", Times, serif
$monoFontFamily:        "proxima-nova", Monaco, Menlo, Consolas, "Courier New", monospace

@import bootstrap_overrided
@import colors
@import variables
@import ui
@import welcome
@import events
@import timeline
@import navigation
@import toppanel
@import projects
@import dashboard

::selection
  color: black
  background: #ccc
::-moz-selection
  color: black
  background: #ccc

body
  background-color: #222
  background-image: image-url("black-Linen.png")

  min-height: 100%
  height: 100%
  height: auto !important

// @import "bootstrap-responsive"

// https://github.com/railsrumble/r12-team-61/wiki/Views
.signout

.icon-ok
  margin-left: 3px

#destroy
  margin-left: 15px

a#submit
  color: #999
  &:hover
    color: white

a.connected
  cursor: default
  color: white !important
  &:hover
    color: white !important

.signup
  font-size: 12px
  color: #ff6666

.auth
  font-size: 22px
  line-height: 36px

.auth-twitter
  margin-left: -7px

#feedback
  position: absolute
  bottom: 10px
  left: 12px
  z-index: 1000
  a
    color: #999
    +opacity(0.6)
    &:hover
      +opacity(1)
      color: #999

// text pages
.text-white
  color: #ffffff
