$color0: #c0b393
$color1: #f57969
$color2: #55bae4
$color3: #f6ab68
$color4: #ca7777
$color5: #c1d170
$color6: #ab88c4

@mixin progress($color)
  .progress .bar
    //+gradient-vertical(#ee5f5b, #c43c35)
    $lastColor: darken($color, 10)
    +gradient-vertical($color, $lastColor)

  $text-color: darken($color, 10)
  $event-color: darken($color, 20)
  .project-title
    .title
      color: $text-color
    input
      color: $color

  .event
    background-color: $event-color

  .event-title
    color: $text-color

.project-color-0
  +progress($color0)
.project-color-1
  +progress($color1)
.project-color-2
  +progress($color2)
.project-color-3
  +progress($color3)
.project-color-4
  +progress($color4)
.project-color-5
  +progress($color5)
.project-color-6
  +progress($color6)
