$inactive-color: #666
@mixin project-color($color)
  $text-color: darken($color, 10)
  $event-color: darken($color, 20)
  &.inactive
    .project-bar
      background-color: $inactive-color
    .event-bar
      background-color: darken($inactive-color, 10)
    .event-title
      color: darken($inactive-color, 10)
    .project-title
      .title
        color: darken($inactive-color, 10)

  &:hover
    opacity: 1
    .project-bar
      background-color: lighten($color, 10)
      +box-shadow(0 0 10px 0 rgba(13,144,209,0.7))
    .event-bar
      background-color: $event-color

    .event-title
      color: $text-color

  .project-bar
    cursor: pointer
    background-color: $color
    overflow: visible
    height: $barHeight
    width: 100%
    margin:
      top: $eventsHeight
      bottom: 5px
    +box-shadow(none)
    +border-radius($barHeight/2)


  .project-title
    width: auto
    max-width: 250px

    // Чтобы кнопка 'ok' не выползала на следующую строку
    // при редактировании в месячном режиме: #154
    // Временно отключил
    // width: 250px
    margin-left: 4px
    &:hover
      .title.sticky
        color: $color
    .title
      color: darken($color, 40)
    input
      color: $color

  .event-bar
    background-color: $event-color

  .event-title
    color: $text-color

  .event-form
    input
      color: $text-color

.project-color-0
  +project-color($color0)
.project-color-1
  +project-color($color1)
.project-color-2
  +project-color($color2)
.project-color-3
  +project-color($color3)
.project-color-4
  +project-color($color4)
.project-color-5
  +project-color($color5)
.project-color-6
  +project-color($color6)
