// Events

.event
  position: absolute
  top: -3px
  z-index: 150
  // Ширина небольшая чтобы не хватать клики по проекту для добавления новых евентов
  width: 10px
  // Хоть какую-то высоту он должен иметь, иначе он не прыгает при добавлении
  height: 30px
  // border: 1px solid red
  &.passed
    +opacity(0.6)
  &.event-handled
    .event-title
      //font-size: 12px
    +opacity(1.0)

.ui-sortable-helper
  .event
    visibility: hidden

.event-bar
  position: absolute
  width: 7px
  top: -3px
  cursor: w-resize
  cursor: col-resize
  height: 30px // TODO связать с толщиной проекта
  +box-shadow(outset 0 1px 1px rgba(0,0,0,.075))
  +border-radius(2px)

.event-title
  position: absolute
  top: -24px
  white-space: nowrap

.event-title-el
  text-shadow: 0 -1px 0 rgba(0,0,0,.25)
  cursor: text
  padding-right: 5px
  font-size: 16px

.event-form
  position: absolute
  top: -20px
  font-size: 16px
  z-index: 200
  text-shadow: 0 -1px 0 rgba(0,0,0,.25)
  white-space: nowrap

