$border-color: #c0b393
$header-font-color: #f57969

#timeline
  table
    th
      color: $header-font-color
    th, td
      border-top: none
      border-bottom: none
      border-left: none
      border-right: 1px solid $border-color
