#toppanel
  padding: 15px

#toppanel .btn
  margin-top: 1px

#edit-project
  float: left

#edit-project input 
  padding: 4px 6px

#edit-project .btn
  margin-top: 0

#edit-project input[type="text"]
  background-color: transparent
  color: #999

#control-buttons
  margin-right: 4px