#toppanel
  //padding: 15px 10px 15px 15px

//#toppanel .btn
  //margin-top: 1px

//#toppanel .divider-vertical
  //float: left
  //top: -15px
  //position: relative

#toppanel .icon
  font-size: 22px

#edit-project
  float: left
  // TODO центрировать вертикально
  margin-top: 15px

  input 
    padding: 4px 6px

  .btn
    margin-top: 0

  input[type="text"]
    background-color: transparent
    color: #999
    text-transform: uppercase

  input[type="text"]:hover
    color: #FFF
    text-shadow: none

#control-buttons
  margin-right: 4px

#delete-btn, #share-link
  text-shadow: none
  color: #999

#cancel-btn
  color: #999

#delete-btn:hover, #share-link:hover
  color: #FFF

#share-link
  float: left
