#toppanel
  padding: 15px

#toppanel .btn
  margin-top: 1px

#toppanel .divider-vertical
  float: left
  top: -15px
  position: relative

#edit-project
  float: left

#edit-project input 
  padding: 4px 6px

#edit-project .btn
  margin-top: 0

#edit-project input[type="text"]
  background-color: transparent
  color: #999
  text-transform: uppercase

#edit-project input[type="text"]:hover
  color: #FFF
  text-shadow: none

#control-buttons
  margin-right: 4px

#close-btn
  font-size: 16px
  text-shadow: none
  color: #999

#close-btn:hover
  text-decoration: none

#delete-btn
  padding: 0
  font-size: 14px
  text-shadow: none
  color: #bc5252

.share-link
  float: left