<form id="edit-project" name="project">
    <input type="text" name="title" id="title" value="<%= title %>" >
    <input type="submit" value="OK" />
    <a href="#/<%= id %>/destroy" class="destroy">[x]</a>
</form>


