<form id="edit-project" name="project">
    <input type="text" name="title" id="title" value="<%= title %>" >
    <input type="submit" value="OK" />
    <input type="button" value="cancel" class='cancel'/>
</form>
<a href="#/<%= id %>/destroy" class="destroy">[x]</a>


