<form id="new-project" class='project-form' name="project">
    <input type="text" name="title" id="title" value="<%= title %>" >
    <a href='#submit' id='submit'><i class="icon-ok icon-white"></i></a>
    <a href='#cancel' id='cancel'><i class="icon-remove icon-white"></i></a>
    <!--
    <input type="submit" value="OK" />
    <input type="button" value="cancel" class='cancel'/>
-->
</form>
