<div class='project'>
  <div class='progress'>
    <div class='bar' style='width: 100%'/>
  </div>
  <h2> <%= title %></h2>

  <a href="#/<%= id %>">Show</a>
  <a href="#/<%= id %>/edit">Edit</a>
  <a href="#/<%= id %>/destroy" class="destroy">Destroy</a>
</div>
