= link_to projects_path, class: 'brand j-link', data: { fragment: '/' } do
  = image_tag 'logo.png'
  %span.version= Potee.version.format('%M.%m.%p%s')

#header_container
  = render 'layouts/main_header'
