= link_to root_path, :class => 'brand' do
  = image_tag 'logo.png'
  %span.version alfa

%ul.nav#project_control
  %li#project_new
    = link_to '#/new', :id => 'new-project-link' do
      %i.icon-folder
      &nbsp;
      New project

#header_container
  = render 'layouts/main_header'
