= link_to '#home', class: 'brand' do
  = image_tag 'logo.png'
  %span.version= Potee.version.format('%M.%m.%p%s')

%ul.nav#scale-nav
%ul.nav#today-nav

#header_container
  = render 'layouts/main_header'
